<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.safe">

    <!-- Permissions nécessaires -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/safelogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/safelogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.SAFE">

        <!-- Meta-data pour Google Maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_GOOGLE_MAPS_API_KEY" />

        <!-- Activités existantes -->
        <activity android:name=".signalement" android:exported="false" />
        <activity android:name=".SelectLocationActivity" android:exported="false" />
        <activity android:name=".listReclamationUser" android:exported="false" />
        <activity android:name=".listAmeliorationUser" android:exported="false" />
        <activity android:name=".listeSignalUser" android:exported="false" />
        <activity android:name=".compte" android:exported="false" />
        <activity android:name=".reclamationUser" android:exported="false" />
        <activity android:name=".signalUser" android:exported="false" />
        <activity android:name=".ameliorationUser" android:exported="false" />

        <!-- Écran de login principal -->
        <activity android:name=".login" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Autres activités -->
        <activity android:name=".register" android:exported="false" />
        <activity android:name=".ForgotPasswordActivity" android:exported="false" />
        <activity android:name=".SuperAdminDashboard" android:exported="false" />
        <activity android:name=".AdminDashboard" android:exported="false" />
        <activity android:name=".UserDashboard" android:exported="false" />
        <activity android:name=".MyInfoActivity" android:exported="false" />
        <activity android:name=".GestionAdminsActivity" android:exported="false" />
        <activity android:name=".NotificationsActivity" android:exported="false" />
        <activity android:name=".SignalesActivity" android:exported="false" />
        <activity android:name=".ReclamationsActivity" android:exported="false" />
        <activity android:name=".AmeliorationActivity" android:exported="false" />
        <activity android:name=".StatistiquesActivity" android:exported="false" />

    </application>

</manifest>
